In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
    'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
    'Sales':[200,120,340,124,243,350]
    }

In [5]:
import string
df = pd.DataFrame(data,index=['i','ii','iii','iv','v','vi'])

In [6]:
df

    Company   Person  Sales
i      GOOG      Sam    200
ii     GOOG  Charlie    120
iii    MSFT      Amy    340
iv     MSFT  Vanessa    124
v        FB     Carl    243
vi       FB    Sarah    350

In [7]:
bycom = df.groupby('Company')

In [8]:
bycom.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [9]:
bycom.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [10]:
bycom.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [11]:
bycom.sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [13]:
df.groupby("Company").sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [14]:
bycom.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [15]:
bycom.max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [16]:
bycom.min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [33]:
df.groupby("Company").describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [24]:
df.groupby("Company").describe().transform

<bound method DataFrame.transform of         Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0>

In [25]:
df.groupby('Company').describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [26]:
df.groupby('Company').describe().transpose()['FB']

Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64